body {
  background:url('../images/circls.png') ;
}

* {
    line-height: 1.5;
}
/*font-family: 'Raleway', sans-serif;
font-family: 'Sedgwick Ave', cursive;*/
/*--- fonts ---*/

h1,
h4 {
 font-family: 'Sedgwick Ave', cursive !important;
}

p, h4 {
  font-size: 16px;
  color: #ffffff;
}

p {
  font-family: 'Raleway', sans-serif;
}
h3 {
  text-transform: lowercase;
  padding: 5px;
}
.name {
  font-weight: bold;
  color: #ffffff;
}
.purple-text {
  color:#dac6ec;
}
.larger-text {
  color: #ffffff;
  font-size: 25px;
}
.title {
  color: #dac7eb;
  margin-top: 0px;
}

.title span {
  font-size: 12px;
}
.contact {
  padding-bottom: 20px;
  text-align: center;
}
div#splash {
  text-align: center;
}
/*--- fonts end ---*/


.angle-background {
  background: #553a63;
  margin: 0 0 200px;
  padding: 10% 20px;
  position: relative;
}
.angle-background:last-of-type {
  margin-bottom: 0;
  padding: 0 20px;
}
.angle-both {
  position: relative;
   z-index: 1;
}
.angle-both:before, .angle-both:after, .angle-top:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.angle-both:before, .angle-top:before {
  top: 0;
 -webkit-transform: skewY(2.5deg);
         transform: skewY(2.5deg);
 -webkit-transform-origin: 100% 0;
         transform-origin: 100% 0;
}
.angle-both:after {
  bottom: 0;
   -webkit-transform: skewY(-2.5deg);
           transform: skewY(-2.5deg);
   -webkit-transform-origin: 100%;
           transform-origin: 100%;
}
.angle-top:before {
  top: 0;
 -webkit-transform: skewY(2.5deg);
         transform: skewY(2.5deg);
 -webkit-transform-origin: 100% 0;
         transform-origin: 100% 0;
}
.angle-bottom:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
  bottom: 0;
  -webkit-transform: skewY(2.5deg);
  transform: skewY(2.5deg);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
/*--- icons ---*/
.icons li {
  display: inline-block;
  padding-right: 50px;
  color: #ffffff;
}
.icons a {
  color: #ffffff;
}
li a {
  color: #ffffff;
  font-size: 16px;
}
i.fa {
  color: white;
  margin: 15px auto;
}
i.fa-2x.pull-right {
  margin-right: 15px;
  position: absolute;
  right: 0px;
}
li a:hover,
li a i:hover {
  color: #dac6ec;
}
.nav-pills {
  padding-top: 55px;
  width: 129px;
  background: rgba(85, 58, 99, 0.88);
}
.nav>li>a:focus, .nav>li>a:hover {
  background: none;
}
/*---icons end---*/

/*punchline*/
.punchline {
  background: #555;
  color: white;
  border-bottom: #ad8ec8 16px solid;
}
/*punchline*/

/*Quotes project*/
.carousel {
  max-width: 600px;
    margin: 0px auto;
}

/*Quotes project*/

/**************Logos*****************/

ul.image_list {
  list-style: none;

  margin: 0px auto;
  padding: 0px;
  text-align: center;
}
.image_list li {
  display: inline-block;
  height:200px;
  width: 200px;
}
.image_list li#bear {
  background-size: 200px 200px;
  display: inline-block;
  background-image: url("../images/Bear_Logo.svg");
  background-repeat: no-repeat;
}
.image_list li#cat {
  background-size: 200px 200px;
  display: inline-block;
  background-image: url("../images/Cat_Logo.svg");
  background-repeat: no-repeat;
}
.image_list li#lemur {
  background-image: url("../images/Lemur_Logo.svg");
  background-size: 200px 200px;
  background-repeat: no-repeat;
}
.image_list li#panda {
  background-image: url("../images/Panda_Logo.svg");
  background-size: 200px 200px;
  background-repeat: no-repeat;
}
/*******************************/

/*---Contact---*/
input {
  height: 40px;
  max-width: 30%;
  border-radius: 7px;
  text-align: center;
  font-size: 16px;
}
#input-submit {
  border-style: none;
  color:white;
  font-size: 20px;
  text-transform: lowercase;
  background: #ad8ec8;
}
/*---Contact End---*/
footer p {
  color: white;
  margin: 0px !important;
}
footer span {
  margin: auto 5px;
}
i.fa.fa-heart {
  padding: 0;
}


@media only screen and (max-width: 768px) {
  .angle-background {
      margin: 0 0 105px;
  }
}
