body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}


/*--- fonts ---*/

p,
h1,
h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  font-weight: 200;
  margin: 0;
}

p {
  font-size: 16px;
}
h4 {
  text-transform: lowercase;
  padding: 5px;
}

.name {
  font-weight: bold;
}


.purpleText {
  color:#dac6ec;
}

.largerText {
  color: #ffffff;
  font-size: 25px;
}


/* ---- splash page container ---- */

div#splash {
  position: relative;
  width: 100%;
  height: 80em;
  background-color: #551a8b;
  text-align: center;
}

#splash {
  padding-top: 5%;
  height: 70em;
}


/* navbar */

.navbar {
  background-color: #551a8b;
  margin: 0;
  border-radius: 0;
}


/* icons */

.icons li {
  display: inline-block;
  padding-right: 50px;
  color: #ffffff;
}

.icons a {
  color: #ffffff;
}

body {
  background-color: black;
}

.about {
  height: 40%;
}

li a {
  color: #ffffff;
  font-size: 16px;
}

i.fa {
  color: white;
  margin: 15px auto;
}

li a:hover,
li a i:hover {
  color: #dac6ec;
}

.nav-pills {
  padding-top: 10px;
}

.fa {
  padding-right: 10px;
}

.fa-cogs {
font-size: 60px;
}
/*temporary */
.about {
  text-align: center;
}

div.cp_embed_wrapper {
  padding-top: 5px;
  max-width: 70%;
}

/*---media---*/
@media only screen and (max-width: 400px) {

  div#splash {
    height: 80em;
    padding-top: 20%;
  }

  div.cp_embed_wrapper {
    max-width: 100%;
  }

}
